body {
  margin: 0;
  background: #1c1a19;
  min-width: 370px;
  display: flex;
  flex-direction: column;
}

.dark {
  background: #1c1a19;
  background-image: url(../assets/Illustration.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  transition: all 2s;
}

.bkg2 {
  background-image: url(../assets/bkg2.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 24px;
  transition: all 2s;
}

.dark header {
  background-color: #3c3a39;
  width: 100%;
}

.dark nav {
  background-color: #3c3a39;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dark nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.dark-button {
  /*background-color: #ff6b00;*/
  background-color: #D14904;
  color: white;
  width: 161px;
  height: 48px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  border: none;
}

.menu-button {
  width: 50%;
}

.menu-list {
  display: none;
}

.menu-list-item {
  margin-right: 32px;
  list-style-type: none;
}

.menu-list-item a {
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  color: #fff;
}

.wrap {
  width: 100%;
}

.withspace {
  margin-bottom: 250px;
}

.dark-button:hover {
  transform: scale(1.1);
}

.sublist > li {
  margin-bottom: 10px;
}

.dark hr {
  height: 1px;
  width: 100%;
  background-color: #fff;
  border: none;
}

.my-logo {
  width: 50%;
  display: flex;
}

.my-logo a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #dbd8d7;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}

.dark nav a {
  display: flex;
  justify-content: flex-end;
}

.dark-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}

.card-content {
  min-width: 320px;
  max-width: 368px;
}

.dark h2 {
  margin-bottom: 0;
}

.head2m {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.dark h1,
.maintitledark {
  font-family: Crete Round, sans-serif;
  font-size: 56px;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 0;
}

.dark p {
  font-family: Poppins, sans-serif;
}

.dark footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 70%;
  padding-left: 35px;
  padding-right: 35px;
  height: 5px;
}

.dark .about-skills > li {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  font-size: 2rem;
  line-height: 44px;
  color: #fff;
  margin-bottom: 15px;
  margin-left: 35px;
}

.about-div {
  min-width: 300px;
  max-width: 50%;
}

.about-skills > .li-angsquare {
  list-style-image: url(../assets/Rectangle55.png);
}

.about-skills > .li-square {
  list-style-image: url(../assets/Rectangle56.png);
}

.about-skills > .li-circle {
  list-style-image: url(../assets/Rectangle57.png);
}

.sublist {
  font-family: Inter, sans-serif;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 43px;
  text-align: center;
  list-style-image: none;
  padding-left: 0;
}

.fa {
  width: 40px;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  text-decoration: none;
  color: #dbd8d7;
}

.fa:hover {
  color: #ff6b00;
}

@media screen and (min-width: 992px) {
  .dark-section {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .dark {
    background-image: url(../assets/bkgdesktop.png);
    background-size: 42%;
  }

  .title-justify {
    display: flex;
    align-items: center;
  }

  .title-justify hr {
    width: 50%;
    margin-top: 110px;
  }

  .title-justify h2 {
    align-self: center;
  }

  .bkg2 {
    padding: 50px;
    background-image: url(../assets/bkg2desktop.png);
    background-position: right 250px;
    background-size: 40%;
  }

  .menu-button {
    display: none;
  }

  .menu-list {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }

  .sublist {
    text-align: left;
  }
}
