.light {
  margin-top: 20px;
  background-color: #fff;
  padding-left: 32px;
  padding-right: 32px;
}

.light h1 {
  background-color: #fff;
  font-family: Crete Round, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #1c1a19;
  margin-top: 120px;
}

.light hr {
  height: 1px;
  background-color: #212121;
  border: none;
}

.multi-post {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.multi-post .mpfooter {
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 196px;
  margin-left: 0;
}

.multi-post > .mpimage {
  width: 300px;
  height: auto;
  flex-grow: 1;
}

.multi-post > div {
  font-family: Inter, sans-serif;
  color: #091e42;
  width: 300px;
  height: auto;
  flex-grow: 1;
  margin-left: 5px;
}

.multi-post h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

/* cards */
.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 320px;
  grid-gap: 24px;
  margin-bottom: 141px;
}

.card {
  margin-top: 20px;
  min-width: 280px;
  max-width: 369px;
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../assets/card-bkg.png);
  padding-top: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
}

.card .card-body {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  margin-left: 16px;
  margin-right: 16px;
}

.tags {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0;
}

.tags .card-tag {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin-right: 12px;
}

.tags .card-tag-crystal {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin-right: 12px;
  border: 1px solid #8993a4;
}

.card .card-footer {
  background-color: #ff6b00;
  height: 48px;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card a,
.multi-post a {
  color: #fff;
  text-decoration: none;
}

.multi-post p {
  margin-right: 15px;
}

#h1footer {
  padding-top: 120px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

footer {
  margin-right: 30px;
  background-color: #fff;
  width: 100%;
}

/* form styling */
.portfolio-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 81px;
}

.portfolio-form .textbox {
  border-color: transparent;
  border-bottom: 1px solid #979493;
  height: 54px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 25px;
  padding-left: 10px;
  width: 100%;
}

.portfolio-form .textarea {
  background-color: #fbf8f7;
  border-color: transparent;
  width: 100%;
  height: 114px;
  margin-bottom: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.social-container {
  height: 81px;
  justify-content: center;
  display: flex;
}

.social-icon {
  color: #505f79;
}

.hrform {
  background-color: #dfe1e6 !important;
  margin-bottom: 25px;
}

.dark-container {
  justify-content: left;
  margin-left: 20px;
  margin-bottom: 80px;
}

/* mobile first aproach */
@media screen and (min-width: 650px) {
  .card-container {
    grid-template-columns: 320px 320px;
  }

  .multi-post {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .dark-container {
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin-left: 0;
    margin-right: 40px;
  }

  .fa-lg {
    height: 36px;
    width: 36px;
  }

  .card .card-footer {
    display: none;
  }

  .card1 {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0) 61.94%), url(../assets/card-bkg.png);
  }

  .card1 .card-title,
  .card1 .card-body {
    visibility: hidden;
  }

  .card1 .card-footer {
    display: flex;
  }

  .footer-form {
    display: flex;
  }

  #h1footer {
    width: 50%;
    padding-right: 20px;
    margin-top: 0;
    text-align: center;
  }

  .portfolio-form {
    width: 50%;
    align-items: flex-start;
  }
}

@media screen and (min-width: 950px) {
  .card-container {
    grid-template-columns: 320px 320px 320px;
  }

  .multi-post {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .dark-container {
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin-left: 0;
    margin-right: 40px;
  }

  .fa-lg {
    height: 36px;
    width: 36px;
  }
}
