body {
  height: 107vh;
  background: #1c1a19;
  background-image: url(../assets/Illustration.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
}

header {
  background-color: #3c3a39;
  width: 100%;
}

nav {
  background-color: #3c3a39;
  width: 100%;
  display: flex;
  align-items: stretch;
}

nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav > ul > li {
  width: 77px;
}

.my-logo {
  font-family: Roboto, sans-serif;
  color: #dbd8d7;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}

h1 {
  height: 124px;
  font-family: Crete Round, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 0;
}

h2 {
  font-family: Roboto, sans-serif;
  margin-bottom: 0;
}

p {
  font-family: Poppins, sans-serif;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 70%;
  padding-left: 35px;
  padding-right: 35px;
  height: 5px;
}

.fa {
  width: 40px;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  color: #dbd8d7;
}

.fa:hover {
  color: #ff6b00;
}
